<br>
<div class="container">
  <div class="col-5 offset-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
      <strong>Estado o Departamento guardado exitosamente!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
      <strong>Error guardando Estado o Departamento!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Agregar Estado o Departamento</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="stateForm">
          <div class="form-group">
            <label for="StateName">Nombre del estado o departamento</label>
            <input type="text"
                   class="form-control"
                   id="StateName"
                   formControlName="name"
                   placeholder="Cundinamarca" />
          </div>
          <div class="form-group">
            <ng-select #select
                       [items]="countries"
                       bindLabel="name"
                       dropdownPosition="auto"
                       bindValue="id"
                       labelForId="countryId"
                       placeholder="Select country"
                       [virtualScroll]="true"
                       formControlName="countryId">
            </ng-select>
          </div>
          <div class="form-group splitted-buttons">
            <button type="submit"
                    (click)="submitForm()"
                    [disabled]="!stateForm.valid"
                    class="btn btn-primary">Guardar</button>
            <a routerLink="/home/states" class="btn btn-danger">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
