<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Cajeros de Cliente</h3>
    </div>
    <div class="col-1 offset-7 text-right">
      <a class="btn btn-primary custom-button-padding" routerLink="/home/cashiers/add">
        <span class="material-icons">add</span>
      </a>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Documento</th>
          <th>Cliente</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cashier of cashiers">
          <td>{{ cashier.id }}</td>
          <td>{{ cashier.fullName }}</td>
          <td [ngSwitch]="cashier.documentType">
            <span *ngSwitchCase="0">
              CC {{cashier.document}}
            </span>
            <span *ngSwitchCase="1">
              Pasaporte {{cashier.document}}
            </span>
          </td>
          <td>{{ cashier.customer }}</td>
          <td>
            <a href="'/home/branches/edit/' + cashier.id"><span class="material-icons">edit</span></a>
            <span (click)="deleteCashier(cashier.id)" class="material-icons">delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
