<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Cajeros de Cliente</h3>
    </div>
    <div class="col-1 offset-7 text-right">
      <a class="btn btn-primary custom-button-padding" routerLink="/home/branches/add">
        <span class="material-icons">add</span>
      </a>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Modelo</th>
          <th>Placa</th>
          <th>Color</th>
          <th>Sucursal</th>
          <th>Codigo</th>
          <th>GPS</th>
          <th>Unidad</th>
          <th>Tipo</th>
          <th>Cantidad Max</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let branch of vehicles">
          <td>{{ branch.id }}</td>
          <td>{{ branch.model }}</td>
          <td>{{ branch.plate }}</td>
          <td>{{ branch.color }}</td>
          <td>{{ branch.branch }}</td>
          <td>{{ branch.code }}</td>
          <td>{{ branch.gpsCode }}</td>
          <td>{{ branch.businessUnit }}</td>
          <td>{{ branch.vehicleType }}</td>
          <td>{{ branch.allowedAmmount }}</td>
          <td>
            <a [routerLink]="'/home/branches/edit/' + branch.id"><span class="material-icons">edit</span></a>
            <span (click)="deleteBranch(branch.id)" class="material-icons">delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
