<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Clientes</h3>
    </div>
    <div class="col-1 offset-7 text-right">
      <a class="btn btn-primary custom-button-padding" routerLink="/home/customers/add">
        <span class="material-icons">add</span>
      </a>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Documento</th>
          <th>Oficina Principal</th>
          <th>Persona Clave</th>
          <th>Persona Clave Alt</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of customers">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.documentType }} {{ item.document }}</td>
          <td>{{ item.headquarters }}</td>
          <td>{{ item.firstKeyPersonTitle }} {{ item.firstKeyPerson }}</td>
          <td>{{ item.secondKeyPersonTitle }} {{ item.secondKeyPerson }}</td>
          <td>
            <a [routerLink]="'/home/branches/edit/' + branch.id"><span class="material-icons">edit</span></a>
            <span (click)="deleteBranch(branch.id)" class="material-icons">delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
