<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Rango de Gavetas</h3>
    </div>
    <div class="col-1 offset-7 text-right">
      <a class="btn btn-primary custom-button-padding" routerLink="/home/branches/add">
        <span class="material-icons">add</span>
      </a>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Codigo</th>
          <th>Divisa</th>
          <th>Cliente</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let items of drawers">
          <td>{{ items.id }}</td>
          <td>{{ items.code }}</td>
          <td>{{ items.currency }}</td>
          <td>{{ items.customer }}</td>
          <td>
            <a [routerLink]="'/home/branches/edit/' + items.id"><span class="material-icons">edit</span></a>
            <span (click)="deleteBranch(items.id)" class="material-icons">delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
