<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Denominaciones</h3>
    </div>
    <div class="col-1 offset-7 text-right">
      <a class="btn btn-primary custom-button-padding" routerLink="/home/denominations/add">
        <span class="material-icons">add</span>
      </a>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Divisa</th>
          <th>Tipo</th>
          <th>Nueva Serie</th>
          <th>Unidades</th>
          <th>Valor Nominal</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let denomination of denominations">
          <td>{{ denomination.id }}</td>
          <td>{{ denomination.code }}</td>
          <td>{{ denomination.name }}</td>
          <td [ngSwitch]="denomination.currency">
            <span *ngSwitchCase="0">COP</span>
            <span *ngSwitchCase="1">USD</span>
            <span *ngSwitchCase="2">EUR</span>
            <span *ngSwitchCase="3">GPB</span>
            <span *ngSwitchCase="4">PAB</span>
          </td>
          <td>{{ denomination.bankNote ? 'Billete' : 'Moneda' }}</td>
          <td>{{ denomination.newSeries ? 'Nuevo' : 'Antiguo' }}</td>
          <td>{{ denomination.unitsPerContainer }}</td>
          <td>{{ denomination.value }}</td>
          <td>
            <a [routerLink]="'/home/denominations/edit/' + denomination.id"><span class="material-icons">edit</span></a>
            <span (click)="deleteDenomination(denomination.id)" class="material-icons">delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
