<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Oficinas</h3>
    </div>
    <div class="col-1 offset-7 text-right">
      <a class="btn btn-primary custom-button-padding" routerLink="/home/offices/add">
        <span class="material-icons">add</span>
      </a>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Cliente</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Cobertura</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let branch of offices">
          <td>{{ branch.id }}</td>
          <td>{{ branch.name }}</td>
          <td>{{ branch.customer }}</td>
          <td>{{ branch.phone }}</td>
          <td>{{ branch.managerEmail }}</td>
          <td [ngSwitch]="branch.coverage">
            <span *ngSwitchCase="0">
              Urbano
            </span>
            <span *ngSwitchCase="1">
              Rural
            </span>
            <span *ngSwitchCase="2">
              Inter-Urbano
            </span>
          </td>
          <td>
            <a [routerLink]="'/home/offices/edit/' + branch.id"><span class="material-icons">edit</span></a>
            <span (click)="deleteBranch(branch.id)" class="material-icons">delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
